:root {
  --font-family-serif: et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
  --font-family-sans: "fira-go", sans-serif;
  --font-family-monospace: "Source Code Pro", "Fira Mono", monospace;

  --sl-hue-accent: 235;
  --sl-font: var(--font-family-sans);
}
